@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,600;0,900;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
}
/*
    #2BBA4A - claro cinzo
    #1C7A31 - escuro cinza
    #3AFA64 - claro
    #0D3B17 - escuro
*/
*{
    margin: 0px;
    padding: 0px;
    
}

    

header{
    background-color: #0D3B17;
    color: white;
    text-align: center; 
    margin: auto;
    
}
header > h1{
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 4em;
    
}
header > p{
    padding-bottom: 10px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}
nav{
    background-color: #1C7A31;
    padding: 5px 0px 5px 0px;
}
nav > a{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    padding: 2.6px;
}
nav > a:hover{
    background-color: rgb(0, 58, 8);
}
body{
    background-color: #C6FFA7;
}
main{
    background-color: white;
    margin: auto;
    padding: 10px;
    min-width: 320px;
    max-width: 800px;
    border-color: #0D3B17;
}
main > h2{
    text-align: center;
    font-size: 2.3em;
    font-family: 'idroid';
    font-weight: normal;
    background-color:#77f1aa; 
}
div#defora > h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    background-color: #003d08;
    color: white;
    padding: 4px 3px 4px 20px;
    border-radius: 10px 10px 0px 0px;
  
    
}
main > p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-indent: 30px;
    text-align: center;
}
div#defora {
    background-color: #3AFA64;
    margin: auto;
    border-radius: 18px;
    min-width: 320px;
    max-width: 800px;
    padding: 0px 0px 4px 0px;
    
}
div#defora > ul{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    columns: 2;
    list-style-position: inside;
    text-indent: 30px;
}
div#defora > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-indent: 30px;
    text-align: center;
}
footer{
    background-color: #0D3B17;
    font-size: 1.1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
span{
    background-color: #39ce77;
    color: #003d08;
    font-weight: 600;
    border-radius: 3px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px; 
    max-width: 800px;
}
div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
    background-color: aliceblue;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    left: 100%;
    min-width: 320px;
    max-width: 500px;
}
